<div *ngIf="selectedPost">
  <h2>{{selectedPost.title | uppercase}}</h2>
  <div>id: {{selectedPost.id}}</div>
  <div>id: {{selectedPost.body}}</div>
  <div>
    <label for="post-title">Post title: </label>
    <input id="post-title" [(ngModel)]="selectedPost.title" placeholder="title">
  </div>
</div>
<h2>Posts</h2>
<ul class="posts">
  <li *ngFor="let post of posts">
    <button [class.selected]="post === selectedPost" type="button" (click)="onSelect(post)">
      <span class="title">{{post.title}}</span>
    </button>
  </li>
</ul>
