/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.post {
  padding-right: 25%;
  padding-left: 25%;
  background: darkgray;
}
